html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.create-btn {
    font-size: 50px;
    height: 100%;
    border-radius: 15px;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    float: left;
}

.create-btn:hover {
    background-color: #eee;
}

.ribbon {
    /*padding: 15px;*/
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    float: left;
    vertical-align: middle;
    font-size: 50px;
}

.main {
    height: 100%;
    width: 100%;
    padding: auto;
}

.node {
/*    position: absolute;
    top: 50%;
    left: 50%;*/
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border-radius: 25px;
    padding: 15px;
    border: 1px solid grey;
    position: absolute;
}

.node h5 {
    margin-bottom: 0;
}

.title-box {
    display: inline-block;
    float: left;
    font-size: 15px;
    box-sizing: content-box;
    margin-top: 22px;
    margin-left: 15px;
}