html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.create-btn {
    font-size: 50px;
    height: 100%;
    border-radius: 15px;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    float: left;
}

.create-btn:hover {
    background-color: #eee;
}

.ribbon {
    /*padding: 15px;*/
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    float: left;
    vertical-align: middle;
    font-size: 50px;
}

.main {
    height: 100%;
    width: 100%;
    padding: auto;
}

.node {
/*    position: absolute;
    top: 50%;
    left: 50%;*/
    transition: visibility 0.2s ease;
    /*transform: translateX(-50%) translateY(-50%);*/
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid grey;
    /*position: absolute;*/
    display: inline-block;
    /*width: auto;*/
    margin-bottom: 5px;
}

.handle {
    position: absolute;
    display: inline-block;
    width: auto;
}

.node p {
    margin-bottom: 0;
    font-size: 15px;
}

.title-box {
    display: inline-block;
    float: left;
    font-size: 15px;
    box-sizing: content-box;
    margin-top: 22px;
    margin-left: 10px;
}

.selected {
    border: 1.5px solid #0081a8;
    transition: border-color 0.2s ease;
}

svg {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    overflow-y: hidden;
}

.node-controls {
    position: relative;

}

.node-controls button {
    display: inline-block;
    padding: 0 6px 0 6px;
    background-color: #fff;
    font-size: 85%;
    font-weight: 150%;
    border-radius: 10px;
}

.node-controls button:first-of-type {
    margin-right: 5px;
    margin-left: 0px;
}

.hide {
    display: none;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
}

.fade-out {
    opacity: 0;
    animation-name: fadeOutOpacity;
}

.fade-in, .fade-out {
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}